@import "tether/tether";

$enable-flex:               true;
$enable-gradients:          true;
$enable-transitions:        true;
@import "bootstrap/bootstrap";
@import "variables";

@import "font-awesome/font-awesome";

// FIXME Get rid of one of them
@import "material-design/material-design-iconic-font";

@import "snackbar/material";
@import "snackbar/snackbar";

@import "re-com/bootstrap-chosen";
@import "re-com/re-com";

@import "quill/quill.core";
@import "quill/quill.snow";

@import "fullcalendar/fullcalendar";
@import "fullcalendar/calendar-custom";

@import "react-select/default";

@import "animate/animate-uhl.scss";

@import "components/sidebar";
@import "components/animations";
@import "components/master-detail";
@import "components/invoices";
@import "components/print-view";
@import "components/editor";
@import "components/tag-input";
@import "components/file-upload";
@import "components/image-crop";
@import "components/chat-room";
@import "components/comments";
@import "components/notifications";
@import "components/markdown";
@import "components/common-custom";

@import "custom";
